# 필수 
Flask==2.3.3
opencv-python-headless==4.8.1.78
mediapipe==0.10.7
numpy==1.24.3

# 음성 인식용
openai-whisper==20231117
librosa==0.10.1
soundfile==0.12.1

# 추가 도구
#Pillow==10.0.1
#scipy==1.11.3

reportlab==4.0.4
matplotlib==3.7.2
PyMySQL==1.1.0
requests==2.31.0